################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/footPosition.pyc
/cwiid.pyc
/breathe.pyc
/.vs (1)/stubby-walker/v14/.suo
/vectorMath.pyc
/stubbyIK.pyc
/stepMath.pyc
/servos.pyc
/pigpio.pyc
/mathLookup.pyc
/legs.pyc
